<h1>Welcome, Captain!</h1>

<div> <!-- New Game -->
	<%= form_for(:game, url: game_new_game_url) do |f| %>
		<%= f.text_field :name %> <br/>
		<%= f.submit "Create Game" %>
	<% end %>
</div>

<div> <!-- Game pool -->
	<% games = Game.all %>
	<% games.each do |game| %>
		<h4>Game: <%= game.name %></h4>
		<p>
			<%= creator_user_name(game) %>
			<% if creator_user_name(game) == current_user.email %> <!-- Not name, sorry -->
				<%= link_to "Leave game", game_destroy_url(game), method: :delete %>
			<% else %>
				<%= link_to "Join game", game_game_url %>
			<% end %>
		</p>
	<% end %>
	<% if games.size == 0 %>
		<p>There aren't any games at the momment!</p>
	<% end %>
</div>

<div>
	<p>Logged in as: <%= current_user.email %> <%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
</div>