<h1>Welcome, Captain!</h1>

<div> <!-- New Game -->
	<%= form_for(:board, url: game_new_game_url) do |f| %>
		<%= f.text_field :name %> <br/>
		<%= f.submit "Create Game" %>
	<% end %>
</div>

<div> <!-- Game pool -->
	<% games = Game.all %>
	<% games.each do |game| %>
		<h4><%= game.name %></h4>
		<p><%= game.user.email %></p>
		<%= link_to "Enter game", game_game_url #the url of the current game %>
	<% end %>
	<% if games.size == 0 %>
		<p>There aren't any games at the momment!</p>
	<% end %>
</div>