<!DOCTYPE html>
<html>
<head>
  <title>Battlerage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body data-spy="scroll">

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="brand">Battle Rage</a>
				<ul class="nav">
					<!-- WTH To do! -->
					<li><%= link_to "Sign in", user_session %></li>
				    <li><%= link_to "Sign up", user_registration %></li>
				    <li><%= link_to "Forgot your password?", edit_user_password %></li>
				</ul>	
			</div>
		</div>
	</div>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
